{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="container-fluid hero ">
  <div class="container">
    {% include 'core/navbar.html' %}

    <div class="row align-items-center">
      <div class="col-md-6 ">
        <h1 class=" fw-bold">Your everyday</h1>
        <h1 class="fw-bold mb-4"><span class="tasks">tasks,</span>  automated</h1>
        <p class="mb-3 mt-4">Tasker lets you design and streamline your everyday tasks and workflows with just a few clicks.</p>
        <div class="row mt-md-5">
          <div class="col">
            <a href="#" class="button-50">Create Account</a>
          </div>
          <div class="col">
            <a href="#" class="lrn m-4">Learn More</a>
          </div>
          <div class="col"></div>
        </div>

      </div>
      <div class="col-md-6">
        <img src="{% static 'assets/image.svg' %}" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</div>


<div class="container mt-md-5 ">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col mt-md-5 mb-md-5">
      <img src="{% static 'assets/Gp6.svg' %}" alt="" class="img-fluid">
    </div>
    <div class="col mt-md-5 mb-md-5">
      <img src="{% static 'assets/Gp7.svg' %}" alt="" class="img-fluid">
    </div>
    <div class="col mt-md-5 mb-md-5">
      <img src="{% static 'assets/Gp8.svg' %}" alt="" class="img-fluid">
    </div>
  </div>  
</div>

<div class="container mt-md-5 productive">
  <div class="row ">
    <h3 class="text-center mt-md-5 mb-md-5">
      Productive features
    </h3>
    <div class="col-md-6">
      <img src="{% static 'assets/gp9.svg' %}" class="img-fluid mt-md-4" alt="">
    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>

{% endblock %}