@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');


* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;

}

.gp {
  transition: transform .2s;
}

.gp:hover {

  transform: scale(1.1);
}

.hero {
  height: auto;
  width: auto;
  background-color: #dfeff1b0;
  /* background-image: url('../assets/herro.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}

.productive {
  height: auto;
  width: auto;
  background-color: #dfeff1b0;
}

a {
  text-decoration: none;

}

a:hover {
  color: white;
}

.cta {
  height: 100vh;
  width: 100%;

}

.tasks {
  font-weight: bolder;
  background-color: #ff963a9c;
  color: #ff0095;
}

h1,
.prod {
  font-size: 60px;
  background: -webkit-linear-gradient(rgb(97, 5, 105), rgb(48, 5, 148));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-circle-check {
  color: #ebb41e;
  font-size: 20px;
}

.lrn {
  color: #000;
  font-weight: bolder;
  font-size: 16px;
}

.lrn:hover {
  font-weight: bold;
  color: #000;
}

.nav-link {
  color: rgb(39, 38, 38);
  font-weight: bolder;
  font-size: 16px;
}

.crt:hover {
  color: #fff;
}

ul li a::after {
  position: absolute;
  content: "";

  background: #ff7000;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

ul li a:hover {
  color: orange;
  border-bottom: 3px solid orange;
}

ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}


















/* CSS */
.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}


/* CSS */
.button-79 {
  backface-visibility: hidden;
  background: #332cf2;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-79:disabled {
  color: #787878;
  cursor: auto;
}

.button-79:not(:disabled):hover {
  transform: scale(1.05);
}

.button-79:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-79:focus {
  outline: 0 solid transparent;
}

.button-79:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-79:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-79:not(:disabled):active {
  transform: translateY(.125rem);
}