*{
   padding: 0;
   margin: 0;
}

.hero{
    height: 100vh;
    width: 100%;
    background-color: #b5f1fcb0;
    /* background-image: url('../assets/herro.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}

.cta{
    height: 100vh;
    width: 100%;

}
h1{
    font-size: 70px;
}